* {
  padding: 0;
  margin: 0;
}
.d-flex {
  display: flex
}
.d-flex-row {
  flex-direction: row
}
.d-flex-space-btw {
  justify-content: space-between
}
.d-flex-align-center {
  align-items: center
}
.border-1 {
  border: 1px solid green
}
.px-5 {
  padding: 0px 5px;
} 
.px-40{
  padding: 0px 40px;
}