<div class="product_item">
  <div class="product_header d-flex d-flex-space-btw d-flex-align-center">
    <p class="">Demo Product</p>
    <div class="d-flex d-flex-align-center">
      <p>$ 5</p>
      <div class="product_actions px-5">
        <a class="px-5" href="#">Edit</a>
        <a class="px-5" href="#">Remove</a>
      </div>
    </div>
  </div>
  <div class="product_description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores molestiae vero aperiam non tenetur facilis id exercitationem assumenda est illum unde dolorem beatae accusantium, ipsam, sunt quod perspiciatis, eaque alias.</div>
</div>
