<div *ngIf="isLoading">
  <div class="product-actions py-10">
    <ngx-skeleton-loader count="1" [theme]="{'margin-bottom': '0px', height: '15px'}" appearance="line"></ngx-skeleton-loader>
  </div>
  <div *ngFor="let skeleton of [].constructor(10)" class="product_item">
    <ngx-skeleton-loader count="3" [theme]="{'margin-bottom': '0px', height: '15px'}" appearance="line"></ngx-skeleton-loader>
  </div>
</div>
<div *ngIf="!isLoading">
  <div class="product-actions py-10 d-flex d-flex-justify-center">
    <input type="search" [(ngModel)]="searchString" />
  </div>
  <div *ngFor="let product of filterProducts()" class="product_item">
    <div class="product_header d-flex d-flex-space-btw d-flex-align-center">
      <h4>{{product.title}}</h4>
      <div class="d-flex d-flex-align-center">
        <p>$ {{product.price}}</p>
        <div class="product_actions px-5">
          <a class="px-5" (click)="editProduct(product)">Edit</a>
          <a class="px-5" href="#">Remove</a>
        </div>
      </div>
    </div>
    <div class="product_description">{{product.description}}</div>
  </div>
</div>
