<div class="product-form p-10">
  <div
    *ngIf="isSaving"
    class="spinner d-flex d-flex-justify-center d-flex-align-center"
  >
    <mat-spinner></mat-spinner>
  </div>
  <h1 class="mb-15">{{ product.id ? "Edit" : "Create" }} Product</h1>
  <form action="#" class="d-flex d-flex-col">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input
        matInput
        placeholder="Name"
        [(ngModel)]="product.title"
        name="title"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input
        matInput
        placeholder="Price"
        [(ngModel)]="product.price"
        name="price"
      />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea
        rows="8"
        matInput
        placeholder="Description"
        [(ngModel)]="product.description"
        name="description"
      ></textarea>
    </mat-form-field>
    <mat-form-field class="product-label-field">
      <mat-label>Product Labels</mat-label>
      <mat-chip-grid #chipGrid aria-label="Product label selection">
        <mat-chip-row *ngFor="let label of product.labels">
          {{ label }}
          <button matChipRemove [attr.aria-label]="'remove ' + label">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip-row>
        <input
          placeholder="Add Product Labels"
          [matChipInputFor]="chipGrid"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="true"
          (matChipInputTokenEnd)="add($event)"
        />
      </mat-chip-grid>
    </mat-form-field>
  </form>
  <div>
    <button mat-stroked-button class="mr-5" (click)="close()">Close</button>
    <button mat-stroked-button *ngIf="product.id" (click)="save()">Save</button>
    <button mat-stroked-button *ngIf="!product.id" (click)="create()">
      Create
    </button>
  </div>
</div>
