<div class="product-form p-10">
  <h1 class="mb-15">Edit Product</h1>
  <form action="#" class="d-flex d-flex-col">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Price</mat-label>
      <input matInput placeholder="Price" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Description</mat-label>
      <textarea matInput placeholder="Description" ></textarea>
    </mat-form-field>
  </form>
  
  <div>
    <button mat-stroked-button class="mr-5" (click)="close()">Close</button>
    <button mat-stroked-button (click)="save()">Save</button>
  </div>
</div>